@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/scrollbar.css");

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 0px;
    background-image: url(../images/background.png);
    background-position: center bottom;
}

h1, h3 {
    font-family: 'Marcellus', serif;
    font-weight: bold;
}

h2 {
    font-family: 'Marcellus', serif;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
}

p {
    font-family: 'Marcellus', serif;
    font-size: 20px;
    color: whitesmoke;
}

a {
    text-decoration: none;
}
